.faq {
    text-align: center;
    font-family: Montserrat;

}

.ortho-faq {
    display: grid;
    grid-template-columns: 33% 33% 32%;
    column-gap: 10px;
}

dl {
    grid-column-start: 1;
    grid-column-end: 3;
}

dt {
    font-family: Montserrat;
    font-size: 1.25em;
    margin: 10px 120px;
}

dd {
    font-family: 'Crimson Pro';
    font-size: 1.2em;
    margin: 10px 130px;
    text-align: justify;
    line-height: 30px;
}

.red-eddie-div {
    display: grid;
}