@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*
Para títulos: Montserrat
Para textos: Crimson Pro*/

* {
    font-size: 16px;
    margin: 0;
}

.title_mont {
    font-family: Montserrat;
}

.text_crim {
    font-family: 'Crimson Pro';
}

.red-eddie-icon {
    background-color: #f2edea;
    position: absolute;
    top: 24px;
    left: 34px;
    border-radius: 10px;
    z-index: 1;
}

.nav_bar {
    background-color: #3D0A08;
    display: flex;
    justify-content: flex-end;
    gap: 30px;   
}

.nav_text {
    background-color: #3D0A08;
    color: #f2edea;
    padding: 15px;
}

.nav_bar a {
    background-color: #3D0A08;
    color: #f2edea;
    font-size: 1em;
    text-decoration: none;
}

.nav_bar a:hover {
    background-color: #A58570;
    color: #3D0A08;
    font-size: 1em;
    padding: 5px;
    text-decoration: underline;
    border-radius: 8px;
    transition-duration: 300ms;
}

.change_lang {
    background-color: #3D0A08;
    padding: 15px 20px 15px 0;
    line-height: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.globe_lang {
    background-color: #3D0A08;
    color: #f2edea;
    display: flex;
    align-self: center;
    font-size: 1.25em;
}

.intro-eddie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D0A08;
    color: #f2edea;
}

.hi-eddie {
    font-size: 3rem;
    font-style: italic;
    padding-top: 15px;
    padding-left: 20px;
    background-color: #3D0A08;
    color: #f2edea;
    margin: 0 auto;
    flex: 1;
    text-align: right;
}

.ortho-bot {
    font-size: 1.5em;
    background-color: #3D0A08;
    color: #f2edea;
    flex: 1;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 10px;
}

h2, .ortho {
    font-size: 1em;
    background-color: #3D0A08;
    color: #f2edea;
}

div.lines-eddie p,
div.lines-eddie aside {
    font-size: 1.5em;
    text-align: center;
    color: #3D0A08;
    margin-top: 15px;
    line-height: 15px;
}

.red-eddie {}

footer {
    text-align: center;
    font-size: 12px;
}
